td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

table {
  margin: 20px 0 !important;
}

td:first-of-type, td:first-of-type > div {
  width: 250px;
  height: 150px;
}
